{
    "tabWidth": 4,
    "singleQuote": true,
    "useTabs": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}