<div data-controller="home" class="w-98 px-5 450:px-0" >
    <h1 class="w-full mb-7 text-center text-white text-4xl font-semibold leading-snug font-poppins">My Cards</h1>
    <div class="custom">
    </div>
    <%= link_to "Add a card", about_path, class: "flex w-full mb-7 p-3 justify-center items-center space-x-2 rounded-lg bg-gradient-main" %>
</div>

